*{
    padding: 0;
    margin: 0;
}
.border-sample{
    border: thin solid transparent !important;
}
body{
    font-family: 'Raleway', sans-serif;
    color:gray;
    font-size: 18pt;
    background-color:bisque;
}
header{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 18pt;
    padding: 20px;
    background-color:black;
}
footer{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 12pt;
    padding: 20px;
    background-color:rgb(240, 215, 184);
    text-align: center;
}
.container{
    padding: 20px;
}
h1{
    margin-bottom: 20px;
    color: black;
}
h2{
    margin-bottom: 10px;
    color: black;
}
h3{
    margin-bottom: 15px;
}
h5{
    margin-bottom: 15px;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
    line-height: 1.5;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width: 230px;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
}
a:link, a:visited {
    background-color:rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:grey;
}
a:hover, a:active {
    color: black;
}
.center-img{
    width: 1200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.kuning{
    color:#f39c12;
}